<div class="jumbotron" id="jumbo">
<h1 align="center">Hero Squad</h1>
</div>
<a href="squads/new"><button class="btn btn-success" type="submit">Create Squad</button></a><br><br>
<a href="heroes/new"><button class="btn btn-primary" type="submit">Add New Hero</button></a>